.weather-data {
  display: flex;
  justify-content: center;
  // margin: 0rem 2rem;
  // width: 600px;
  width: 85%;
  height: 80px;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.5);

  &__wrapper {
    display: flex;
    width: 100%;
  }
}

.weather-temperature-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.weather-temperature-wrapper-icon {
  display: flex;
  align-self: flex-start;
  padding: 10px 15px 0px 0px;
}

.weather-temperature-icon {
  color: red;
}

.weather-temperature-description {
  font-size: 14px;
  font-weight: 700;
}