.weather-data {
  width: 600px;
  height: 80px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.5);
}

.weather-temperature-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.weather-temperature-wrapper-icon {
  display: flex;
  align-self: flex-start;
  padding: 10px 15px 0px 0px;
}

.weather-temperature-icon {
  color: red;
}



.weather-temperature-description {
  font-size: 18px;
  font-weight: 700;
}

.weather-extraInfo {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  width: 50%;
}

.weather-extraInfo-text {
  color: #1535C5;
  font-weight: bold;
  font-size: 18px;
}